/* Responsive Mixin */
@mixin break($point) {
  @if $point == large {
    @media (min-width: 1280px) { @content; }
  }
  @else if $point == medium {
    @media (min-width: 1024px) { @content; }
  }
  @else if $point == tablet {
    @media (min-width: 600px)  { @content; }
  }
  @else if $point == mini {
    @media (max-width: 600px)  { @content; }
  }
}
//////////////////////////////////////////
   //
//////////////////////////////////////////

$highlight_color :#009EF2;

$neutral_color : rgb(231, 231, 231);

* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  font-family: 'Special Elite', cursive;
}

//_____________________________________
section.content ul {
    padding: 10px 30px;
    margin: 1em 0;
    line-height: 30px;
    font-size: 1.2em;
    display: inline-block;
}
//_____________________________________

.button-github{
  background-image:url('../assets/img/github_icon.png');
}
.button-codepen{
  background-image:url('../assets/img/codepen_icon.png');
}
.button-github,.button-codepen{  
  background-repeat:no-repeat;
  background-size: 35px auto;
  background-position:5px center ;
  border-radius:3px;
  display: inline-block;
  padding-left: 45px;
  padding-right:5px;
  line-height: 55px;
  height: 50px;
  border: 1px solid;
  border-radius: 3px;
  margin: 1em 0;
  color:#fff;
  background-color:$highlight_color;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 20px;

}

span.heart-ico {
  width: 40px;
  display: inline-block;
  height: 40px;
  background-image: url(../assets/img/heart-log_blue.png);
  background-size: 100% auto;
  vertical-align: middle;
}
//////////////////////////////////////////
   // Playbutton
//////////////////////////////////////////
$play_color : #fff;
$size : 5em;
.play-button{
  top:0;
  left:$size;
  right:0;
  bottom:0;
  margin:auto;
  position:absolute;
  width:0;
  height:0;
  z-index: 999;
  cursor:pointer;
  transition-duration: .5s;
  border-left:$size solid $play_color; 
  border-top:$size*.5  solid transparent;
  border-right:$size solid transparent;
  border-bottom:$size*.5 solid transparent;
  
  &.on{
    transform:translateX(-$size/2);
    border-left:$size*.5 solid transparent; 
    border-top:$size*.5  solid transparent;
    border-right:$size*.5 solid transparent;
    border-bottom:$size*.5 solid transparent;
    
    &:before {
      content: '';
      display: block;
      width: 30px;
      height: 80px;
      background: #fff;
      position: absolute;
      transform:translateY(-50%) translateX(30%);
      z-index: 99999999999;
      left: 0;
    }
    &:after {
      content: '';
      display: block;
      width: 30px;
      background: #fff;
      height: 80px;
      position: absolute;
      transform: translateY(-50%) translateX(-130%);
      z-index: 99999999999;
      left: 0;
    }
  }
  
  &.off{
    width:0;
    height:0;
    border-left:$size solid $play_color; 
    border-top:$size*.5  solid transparent;
    border-right:$size solid transparent;
    border-bottom:$size*.5 solid transparent;    
  }
}

.music_tribute{
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: #fff;
  width: 200px;
  padding: .25em;
  
  & a{
    text-decoration:none;
  }
}


.header-blue{
  background-color:$highlight_color;
}

.header-white{
  
  h1#single_main_logo,
  h1#article-title{
    color:#222;
  }
  nav a{
    color:#222;
  }
}

.wrapper {
width: 80%;
margin: 2em auto;
}
.header-impressum{
  height:300px;
}
//////////////////////////////////////////
   // Header
//////////////////////////////////////////

header {
  position: relative;
  z-index: 1;
  width: 100%;
  height:75%;

  @include break(mini){
    margin-bottom: 4em;
  }
}

.header_canvas {
position: absolute;
top: 0;
}

header canvas{
  cursor:move;
}

h1#main_logo {
position: absolute;
z-index: 1;
color: #fff;
bottom: 50px;
left: 50px;
font-size: 4em;
@include break(mini){
    bottom: 20px;
    margin: auto;
    left: 0px;
    right:0;
    width: 80%;
    font-size: 2em;
  }
}

img#papr_logo_img {
width: 100px;
vertical-align: middle;
margin-right: 0.4em;

@include break(mini){
    width: 50px;
  }
}

.twitter-share-button{
  position: absolute;
  z-index: 1;
  top: 5px;
  right: 5px;
}




//////////////////////////////////////////
   //  Content
//////////////////////////////////////////

.code-breaker{
  background:#272822;
  padding:1em 0;
  margin: 2em 0;
}
.CodeMirror{
  height:initial!important;
  font-size:1.5em;

  *{
    line-height:1.6em;
  }

  @include break(mini){
    font-size:1.2em;

    *{
      line-height:1.4em;
    }
  }
}

.code-breaker-inner {
 // max-width: 1280px;
  margin: auto;
  position: relative;
  width: 90%;
}
.code-block{
  display:none;
}

a{
  font-family:'Special Elite', cursive;
  color:$highlight_color;
  text-decoration:none;
}
.content h1,h2,h3 {
  font-family:'Lato',sans-serif;
  font-size: 1.5em;
  margin-bottom: .25em;
  margin-top:.25em;
}
p{
  font-family:'Lato',sans-serif;
  font-size: 1.2em;
  line-height: 1.5em;
}
//////////////////////////////////////////
   //  Home
//////////////////////////////////////////

.header-home{
  background-image:url('../assets/img/home_background.png');
  transition-duration:.25s;
  background-size:cover;
  background-position:center center;
}
.header-home.loaded{
  background-image:none;

}

section.content,
.start_info,
footer .footer-inner {
  position: relative;
  margin:auto;
  width: 80%;
  max-width:1280px;
  //min-height: 100%;

  @include break(mini){
    width:90%;
  }
}

section.start {
  padding:2em 0;
}

article.start_info:after,
section.content:after,
.teaser-single:after,
section.teaser:after,
.footer-inner:after,
nav:after {
  content:'';
  display:table;
  clear:both;
}
//////////////////////////////////////////
   //  Grid
//////////////////////////////////////////
.col-4{
  width: 25%;
  float:left;
  @include break(mini){
    width:90%;
    float:none;
    margin:2em auto 0;
    padding-right:0;
  }
}
.col-6{
  width: 50%;
  float:left;

  &:nth-child(odd){
    padding-right: 2em;
  }
  @include break(mini){
    width:90%;
    float:none;
    margin:auto;
    &:nth-child(odd){
      padding-right:0;
    }
  }
}

.col-8{
  width: 75%;
  float:left;
  padding-right:2em;

  @include break(mini){
    width:90%;
    float:none;
    margin:auto;
    padding-right:0;
  }
}

.conclusion {
  width: 80%;
  margin: auto!important;
  padding: 1em;
  text-align: center;
}
//////////////////////////////////////////
   //  Teaser
//////////////////////////////////////////

section.teaser {
  margin: 2em 0;
}

.start_info .contact, .aside{
  color: #888;
  font-size: 80%;
}

.content img{
  max-width: 100%;
}

//////////////////////////////////////////
   //  Teaser
//////////////////////////////////////////
article.teaser-single {
  width: 50%;
  float: left;
  &:nth-child(odd){
    padding-right: 1em;
  }
  @include break(mini){
    width:100%;
    float:none;
    margin:2em auto;
    padding-right:0;
  }
}

img.teaser-image {
width: 40%;
float: left;
border-radius: 3px;
margin-right: 1em;

  @include break(mini){
    width:100%;
    height:auto;
    float:none;
  }
}


//////////////////////////////////////////
   //  Article Nav
//////////////////////////////////////////
nav {
z-index: 1;
color: #fff;
width: 80%;
max-width: 1280px;
margin: 0 auto;
position: relative;
top:50px;
line-height:50px;
}
nav a{
  color:#fff;
  font-size:1.4em;
  margin-right: 1em;
}
nav a.active {
text-decoration: underline;
}

.article-single-header img#papr_logo_img{
  width:50px;
  height:auto;
}

h1#single_main_logo {
  z-index: 1;
  color: #fff;
  width: 200px;
  font-size:1em;
  margin-right:.5em;
  float:left;
  top: -3px;
  position: relative;
}
//////////////////////////////////////////
   //  Article 
//////////////////////////////////////////
.article-single{
  min-height:100%;
}

#article-title {
  position: absolute;
  margin: auto;
  width:80%;
  left: 0;
  right: 0;
  z-index: 1;
  color: #fff;
  bottom: 50px;
  font-size: 2em;
  max-width:1280px;

  &.title-light{
    color:#fff;
  }
}

.content-inner {
  margin: 1em 0;

  &:after{
    content:'';
    display: block;
    clear:both;
  }
}

//////////////////////////////////////////
   //  Article  specific style
//////////////////////////////////////////
.content h2 {
  margin: 1em 0;
}

span.quick-note {
background: $neutral_color;
padding: .25em 0;
}

span.code {
background: $neutral_color;
color: $highlight_color;
padding: 0.1em 0.4em;
}

.image-full img {
  margin:2em 0;
width: 100%;
height: auto;
}

.merk-info{
  color: $highlight_color;
  font-style:italic;
  font-size:80%;
}

//////////////////////////////////////////
   //  Tumblr
//////////////////////////////////////////

#tumblr_feed{
 &:after{
    content: '';
    display: table;
    clear:both;
  }
}
.tumblr_post{
  
}

.tumblr_image {
  display:block; 
  width:100%; 
  height:auto;
}
.mosaicflow__column {
  float: left;
  &:after{
    content: '';
    display: table;
    clear:both;
  }
}
.mosaicflow__item img {
    display:block;
    width:100%;
    height:auto;
}


//////////////////////////////////////////
   //  Footer
//////////////////////////////////////////
footer {
  width: 100%;
  margin-top: 2em;
  background: $neutral_color;
  position: relative;
  padding-bottom:5em;
  padding-top:1em;
  color: #888;
  font-size: 80%;
  @include break(mini){
    padding:2em 0;
    padding-bottom:8em;
  }
}

footer a{
  color:#222;
}

a.impressum-link {
  position: absolute;
  right: 0;
  bottom: 5px;

  @include break(mini){
    position: relative;
    margin: 1em auto;
    bottom: initial;
    text-align: center;
    display: inline-block;
  }
}

footer .footer-bottom{
  border-top:1px solid #ccc;
  padding: 1em;
  width: 80%;
  max-width: 1280px;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
.footer-col:first-child{
  padding-left:0;
}
.footer-col:last-child{
  padding-right:0;
}
.footer-col {
  width: 33.3%;
  padding: 1em;
  float: left;

  @include break(mini){
    width:100%;
    float:none;
    padding:1em;

    &:first-child,
    &:last-child{
      padding-left:1em;
      padding-right:1em;
    }
  }
}

.dg.ac{
  z-index:9999!important;
}


//////////////////////////////////////////
   //  Impressum
//////////////////////////////////////////
